@model UnfallPortal.Shared.Entities.MandantUnfallDokumente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MandantUnfallDokumente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MandantUnfallId" class="control-label"></label>
                <select asp-for="MandantUnfallId" class ="form-control" asp-items="ViewBag.MandantUnfallId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dateinamen" class="control-label"></label>
                <input asp-for="Dateinamen" class="form-control" />
                <span asp-validation-for="Dateinamen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
